.menu-container {
	background-color: #020063;
	font-family: 'Raleway', sans-serif;
}

.menu-school-title {
	display: none;
}

.menu-open {
	z-index: 2;
	flex-direction: column;
	position: absolute;
	background-color: #020063;
	width: 84vw;
	transform: translateX(-100%);
	transition: 0.2s;
}

.install-app-container {
	align-items: center;
}

.install-app-button {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  margin: 0 0 0 19px;
  height: 25px;
  width: 130px;
  cursor: pointer;
}

.install-app-label {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.menu-header {
	height: 7vh;
	display: flex;
}

.icons {
  color: white;
  width: 25px;
  height: 25px;
}

.menu-header-img {
  align-self: center;
  color: #fff;
  width: 7vw;
  height: 7vh;
}

.menu-header-button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0 5% 0 9%;
  display: flex;
}

.menu-header-h1 {
	color: white;
	text-decoration: underline;
	font-size: 26px;
	display: inline;
	align-self: center;
}


.menu-main {
 	background-color: #010030;
  height: 93vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.menu-main div {
	padding: 0% 0% 0 9%;	
	display: flex;
}

.menu-main div img{
	width: 25px;
	height: 25px;
}


.menu-main div a{
	color: white;
	font-weight: 600;
	padding: 0 0 0 19px;
	margin: auto 0;
	text-decoration: none;
}

.menu-main hr {
	width: 92%;
	margin: 16px auto 16px auto;
	color: white;
}


.menu-closed {
  height: 7vh;
  display: flex;
  z-index: 1;
  position: sticky;
}

.menu-button {
    background-color: transparent;
    height: 6vh;
    width: 6vh;
    align-self: center;
    border: none;
    position: absolute;
    max-width: 35px;
    cursor: pointer;
    margin-left: 3%;
    max-height: 35px;
    display: flex;
    align-items: center;
}


.menu-img-menu {
  color: white;
  width: 100%;
  height: 100%;
}

.menu-img-gp {
  margin: 0 auto;
  max-width: 15vw;
  padding: 1px;
}

.desktop-menu {
	display: none;
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

	.menu-open {
		z-index: 2;
		flex-direction: column;
		position: absolute;
		background-color: #020063;
		width: 84vw;
		transform: translateX(-100%);
		transition: 0.2s;
		display: none;
	}

	.menu-closed {
		height: 10vh;
		display: flex;
		z-index: 1;
		position: fixed;
		align-items: center;
		width: 100vw;
		background-color: #020063;
	}

	.menu-img-menu {
		display: none;
	}

	.menu-img-gp {
	  margin: 0 0 0 1%;
	  width: 80px;
	}

	.menu-school-title {
	  color: #fff;
	  font-size: var(--h2-font-size);
	  margin-left: 1%;
	  display: block;
	}

	.menu-open {
		z-index: 2;
		flex-direction: column;
		position: absolute;
		background-color: #020063;
		width: 84vw;
		transform: translateX(100%);
		transition: 0.2s;
	}

	.desktop-menu {
		display: block;
	}

	.desktop-menu-main {
		background-color: #010030;
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: fixed;
		width: 24%;
		top: 10vh;
	}

	.desktop-menu-main div img {
		width: 25px;
		height: 25px;
	}

	.desktop-menu-main div {
	  padding: 0% 0% 0 9%;
	  display: flex;
	}

	.desktop-menu-main div a {
	  color: white;
	  font-weight: 600;
	  padding: 0 0 0 19px;
	  margin: auto 0;
	  text-decoration: none;
	  transition: 2s all ease-out;
	}

	.desktop-menu-main hr {
		width: 92%;
		margin: 16px auto 16px auto;
		color: white;
	}	

}
