.container {

	background-color: #020063;
	display: flex;

}

.buttonBack {
  
 	position: absolute;
	display: inline;
	align-self: center;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0 0 0 3%;
	cursor: pointer;

}

.greenArrow {

	max-width: 10vw;

}

.gpLogo {

	margin: 0 auto;
	padding: 10px;
	max-width: 14vw;

}