.container-title {
    margin: 3% 0% 3% 3%;
    text-decoration: underline;
    font-size: var(--h1-font-size);
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-class {
  margin: 3% 0% 0% 3%;
  font-size: var(--h4-font-size);
}

.new-warning {
  width: 90vw;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 1px 3px 8px #cacaca;
  height: auto;
}

.new-warning h5 {
	margin: 3% 0% 0% 3%;	
  font-size: var(--h5-font-size);
}

.new-warning p {
  font-size: var(--p-font-size);
  margin: 2% 3%;
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

  .container {
    display: flex;
    justify-content: space-between;
  }

  .bulletinBoard-container {
      width: 76%;
      margin-top: 10vh;
  }

  .container-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 3%;
    flex-direction: row;
  }

  .new-warning {
    width: 40%;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 1px 3px 8px #cacaca;
    height: auto;
  }

  .container-class {
    margin: 0% 0% 0% 3%;
    font-size: var(--h4-font-size);
  }

}