.container-title {
  margin: 3% 0% 3% 3%;
  text-decoration: underline;
  font-size: var(--h1-font-size);
}

.container-subTitle {
  margin: 3%;
  font-size: var(--h2-font-size);
}

.changePassword-content {
  display: flex;
  margin: 0 3% 20px 3%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 15px;

}

.changePassword-datas {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 100%;
  height: 400px;
  flex-direction: column;
  max-width: 500px;
}

.new-password {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
	height: 90px;
	margin-top: 20px;
}

.content-newPassword-input {
  height: 50px;
  width: 94%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
}

.content-newPassword{
	display: inline;
	font-weight: 600;
	font-size: 16px;
	position: absolute;
	top: 36px;
	left: 6%;
	background-color: #fff;
	transition: all 0.2s ease-out;
}

.content-newPassword-input:focus ~ .content-newPassword {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.content-newPassword-input:valid ~ .content-newPassword {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.confirm-password {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
	height: 90px;
}

.content-newPassword-input-confirm {
  height: 50px;
  width: 94%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
}

.content-newPassword-confirm{
	display: inline;
	font-weight: 600;
	font-size: 16px;
	position: absolute;
	top: 36px;
	left: 6%;
	background-color: #fff;
	transition: all 0.2s ease-out;
}

.content-newPassword-input-confirm:focus ~ .content-newPassword-confirm {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.content-newPassword-input-confirm:valid ~ .content-newPassword-confirm {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.changePassword-button {
		color: var(--buttons-text-color);
		border: var(--buttons-border);
		outline: var(--buttons-outline);
		display: block;
		width: 96%;
		height: var(--buttons-height);
		margin: var(--buttons-margin);
		background-color: var(--green-buttons-backgroundcolor);
		font-size: var(--buttons-font-size);
		font-weight: var(--buttons-font-weight);
		border-radius: var(--buttons-border-radius);
		cursor: var(--buttons-cursor);
		max-width: 470px;
    transition: .2s;
}

.changePassword-button:hover {
  color: var(--green-buttons-backgroundcolor);
  background-color: #fff;
  border: 1px solid var(--green-buttons-backgroundcolor);
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

    .container {
       display: flex;
      justify-content: space-between;
    }

    .changePassword-container {
        width: 76%;
        margin-top: 10vh;
    }	

	.changePassword-button {
		color: var(--buttons-text-color);
		border: var(--buttons-border);
		outline: var(--buttons-outline);
		display: block;
		width: 96%;
		height: var(--buttons-height);
		margin: var(--buttons-margin);
		background-color: var(--green-buttons-backgroundcolor);
		font-size: var(--buttons-font-size);
		font-weight: var(--buttons-font-weight);
		border-radius: var(--buttons-border-radius);
		cursor: var(--buttons-cursor);
		max-width: 500px;
	}

  .changePassword-button:hover {
    color: var(--green-buttons-backgroundcolor);
    background-color: #fff;
    border: 1px solid var(--green-buttons-backgroundcolor);
  }

	.changePassword-datas {
		display: flex;
		margin: 3% auto;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		gap: 15px;
		box-shadow: 1px 1px 4px #cacaca;
		border-radius: 10px;
		width: 500px;
		padding: 20px;
		height: 400px;
	}

}
