.container-subTitle {
  margin: 3%;
}

.changePassword-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	'contentNewPassword contentNewPasswordInput' 
	'contentNewPasswordConfirm contentNewPasswordConfirmInput';
	gap: 15px;
	margin-top: 40px;
}

.content-newPassword {
	display: inline;
	font-weight: 600;
	grid-area: contentNewPassword;
	margin-left: 6%;
}

.content-newPassword-input {
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 12px;
	grid-area: contentNewPasswordInput;
	margin: 0 auto;
	width: 46vw;
	text-align: center;
}

.content-newPassword-confirm {
	display: inline;
	font-weight: 600;
	grid-area: contentNewPasswordConfirm;
	margin-left: 6%;
}

.content-newPassword-input-confirm {
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 12px;
	grid-area: contentNewPasswordConfirmInput;
	margin: 0 auto;
	width: 46vw;
	text-align: center;
}

.changePassword-button {
	border: none;
	outline: none;
	width: 67vw;
	display: block;
	height: 5vh;
	margin: 29px auto 20px auto;
	background-color: #048F36;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius: 4px;
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

    .container {
       display: flex;
      justify-content: space-between;
    }

    .changePassword-container {
        width: 76%;
        margin-top: 10vh;
        height: 100vh;  
    }

	.changePassword-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		'contentNewPassword    contentNewPasswordInput     ' 
		'contentNewPasswordConfirm contentNewPasswordConfirmInput';
		gap: 15px;
		background-color: #fff;
		box-shadow: 1px 1px 4px #cacaca;
		width: 500px;
		margin: 3% auto;
		height: 100px;
	}

	.content-newPassword {
	  display: inline;
	  font-weight: 600;
	  grid-area: contentNewPassword;
	  margin: auto;
	}

	.content-newPassword-input {
	  border-top: none;
	  border-left: none;
	  border-right: none;
	  outline: none;
	  border-bottom: 1px solid black;
	  font-size: 12px;
	  grid-area: contentNewPasswordInput;
	  margin: auto;
	  width: 200px;
	  text-align: center;
	}

	.content-newPassword-confirm {
	  display: inline;
	  font-weight: 600;
	  grid-area: contentNewPasswordConfirm;
	  margin: auto;
	}

	.content-newPassword-input-confirm {
	 	  border-top: none;
		  border-left: none;
		  border-right: none;
		  outline: none;
		  border-bottom: 1px solid black;
		  font-size: 12px;
		  grid-area: contentNewPasswordConfirmInput;
		  margin: auto;
		  width: 200px;
		  text-align: center;
	}

	.changePassword-button {
		border: none;
		outline: none;
		display: block;
		width: 240px;
		height: 40px;
		margin: 29px auto 20px auto;
		background-color: #048F36;
		color: white;
		font-size: 20px;
		font-weight: 600;
		border-radius: 4px;
	}

}