* {
    font-family: 'Raleway', sans-serif;
}

.chat-container {

}

.chat-container-h1 {
    margin: 3% 0% 3% 3%;
    font-size: 32px;
    text-decoration: underline;
}

.chat-subContiner {
    width: 95vw;
    margin: 0 auto;
    border-radius: 4px;
    height: 75vh;
}

.chat-header {

}

.chat-header-img {

}

.chat-header-h2 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.chat-hr {
    width: 90%;
    margin: 10px auto;
}

.chat-message1 {
    background-color: #048F36;
    border-radius: 4px;
    min-width: 1ch;
    margin: 10px 20px 20px 10px;
    align-self: start;
    min-height: 1ch;
}

.chat-message1-p {
    font-size: 13px;
    color: white;
    padding: 6px;
}

.chat-message2 {
    background-color: #00B943;
    border-radius: 4px;
    margin: 10px 10px 20px 20px;
    align-self: end;
    min-width: 1ch;
    min-height: 1ch;
}

.chat-message2-p {
    font-size: 13px;
    color: white;
    padding: 6px
}

.chat-textarea {
    background-color: white;
    outline: none;
    width: 87vw;
    margin: 1% auto;
    font-size: 16px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    box-shadow: 2px 2px 2px #cacaca;
    border-radius: 10px;
}

.sendMessage {
    position: absolute;
    bottom: 0;
    display: flex;
}

.chat-button {
    outline: none;
    border: none;
    display: flex;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
}

.chat-button-img {
    width: 25px;
    padding: 2px;
    margin: auto;
}