.createAccount-container {
	background-color: white;
	position: sticky;
}

.createAccount-h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	text-decoration: underline;
	margin: 3%;
}

.createAccount-p {
	font-family: 'Raleway', sans-serif;
	margin: 3%;
	font-size: 16px;
}

.createAccount-main {
	margin: 20px 0 0 0;
}

.createAccount-user-name,
.createAccount-password {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 85%;
	max-width: 500px;
	margin: 0 auto;
	height: 80px;
}

.createAccount-user-name-input,
.createAccount-password-input {
	height: var(--inputs-height);
	border-radius: var(--inputs-border-radius);
	background-color: var(--inputs-background-color);
	outline: var(--inputs-padding);
	font-size: var(--inputs-font-size);
	padding: var(--inputs-padding);
	border: var(--inputs-border);
	margin-top: var(--inputs-margin-top);
	max-width: 500px;
	width: 100%;
}

.schoolClasses {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.schoolClasses-options {
	max-width: 500px;
	width: 85%;
	height: 30px;
	align-self: center;
}

.createAccount-user-name-label,
.createAccount-password-label {
	display: var(--labels-display);
	font-weight: var(--labels-font-weight);
	font-size: var(--labels-font-size);
	position: var(--labels-position);
	top: 42%;
	left: var(--labels-left);
	background-color: var(--labels-backgroundColor);
	transition: var(--labels-transition);
}

.createAccount-user-name-input:focus~.createAccount-user-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.createAccount-user-name-input:valid~.createAccount-user-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.createAccount-password-input:focus~.createAccount-password-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.createAccount-password-input:valid~.createAccount-password-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.buttonCreacteAccount {
	background-color: var(--green-buttons-backgroundcolor);
	color: var(--buttons-text-color);
	font-weight: var(--buttons-font-weight);
	display: block;
	width: 85%;
	border: var(--buttons-border);
	outline: var(--buttons-outline);
	height: var(--buttons-height);
	font-size: var(--buttons-font-size);
	border-radius: var(--buttons-border-radius);
	margin: var(--buttons-margin);
	cursor: var(--buttons-cursor);
	max-width: 500px;
}

.section-desc {
	padding: 10px;
}

.relatives-list {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	align-items: center;
}

.relative-card {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 180px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: fit-content;
	border-radius: 10px;
	box-shadow: 1px 1px 4px #cacaca;
}

.relative-info {
	margin-top: 10px;
}

.remove-btn {
	margin-top: 10px;
	align-self: center;
	color: red;
	
}

.remove-btn:hover {
	text-decoration-line: underline;
	cursor: pointer;
}

@media screen and (min-width: 800px) and (min-height: 497px) {
	.container {
		display: flex;
		justify-content: space-between;
	}

	.createAccount-container {
		width: 76%;
		margin-top: 10vh;
	}

	.createAccount-main {
		box-shadow: 1px 1px 4px #cacaca;
		height: fit-content;
		width: 50%;
		max-width: 500px;
		margin: 20px auto;
		border-radius: 10px;
	}
}