
.document-type {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  flex-direction: column;
}


.documents-h1 {
	margin: 3% 0% 3% 3%;
  font-size: 32px;
  text-decoration: underline;
}

.documents-h2 {
	font-weight: 600;
	margin: 3% 0% 9% 3%;
}

.documents-p {
	display: inline;
	font-weight: 600;
	grid-area: docType;
	margin-left: 6%;
}

.documents-documentSelect {
	grid-area: selectType;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.enrollmentStatement {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	'enrollmentStatementGroup enrollmentStatementGroupSelect'
	'enrollmentStatementName enrollmentStatementNameSelect';
	visibility: hidden;
	position: absolute;
	gap: 15px;
}

.enrollmentStatement-group {
	display: inline;
	font-weight: 600;
	grid-area: enrollmentStatementGroup;	
	margin-left: 6%;
}

.enrollment-select {
	grid-area: enrollmentStatementGroupSelect;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.enrollmentStatement-name{
	display: inline;
	font-weight: 600;
	grid-area: enrollmentStatementName;
	margin-left: 6%;
}

.enrollmentStatement-name-input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 12px;
  grid-area: enrollmentStatementNameSelect;
  margin: 0 auto;
  width: 46vw;
  text-align: center;
}

.frequencyStatement {
	visibility: hidden;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	'frequencyStatementGroup frequencyStatementGoupSelect'
	'frequencyStatementName  frequencyStatementNameInput';
	gap: 15px;
	margin-bottom: 15px;
}

.frequencyStatement-group {
	display: inline;
	font-weight: 600;
	grid-area: frequencyStatementGroup;	
	margin-left: 6%;
}

.frequencyStatement-select {
	grid-area: frequencyStatementGoupSelect;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.frequencyStatement-name{
	display: inline;
	font-weight: 600;
	grid-area: frequencyStatementName;
	margin-left: 6%;
}

.frequencyStatement-name-input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 12px;
  grid-area: frequencyStatementNameInput;
  margin: 0 auto;
  width: 46vw;
  text-align: center;
}


.sheet19 {
	visibility: hidden;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	'sheet19Group sheet19GroupSelect'
	'sheet19Name sheet19Select'
	'sheet19MotherName sheet19MotherNameInput'
	'sheet19FatherName sheet19FatherNameInput'
	'sheet19PhoneNumber sheet19PhoneNumberInput'
	'sheet19EntryYear sheet19EntryYearInput'
	'sheet19OutgoingYear sheet19OutgoingYearInput';
	gap: 15px;
	margin-bottom: 15px;
}

.sheet19-group {
	display: inline;
	font-weight: 600;
	grid-area: sheet19Group;
	margin-left: 6%;
}

.sheet19-select {
	grid-area: sheet19GroupSelect;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.sheet19-name, .sheet19-mother-name, .sheet19-father-name, .sheet19-phone-number, .sheet19-outgoing-year, .sheet19-entry-year{
	display: inline;
	font-weight: 600;
	margin: 3% 3% 3% 3%;
}

.sheet19-name {
	display: inline;
	font-weight: 600;
	grid-area: sheet19Name;
	margin-left: 6%;
}

.sheet19-mother-name {
	display: inline;
	font-weight: 600;
	grid-area: sheet19MotherName;
	margin-left: 6%;
}

.sheet19-father-name {
	display: inline;
	font-weight: 600;
	grid-area: sheet19FatherName;
	margin-left: 6%;
}

.sheet19-phone-number {
	display: inline;
	font-weight: 600;
	grid-area: sheet19PhoneNumber;
	margin-left: 6%;
}

.sheet19-entry-year {
	display: inline;
	font-weight: 600;
	grid-area: sheet19EntryYear;
	margin-left: 6%;	
}

.sheet19-outgoing-year {
	display: inline;
	font-weight: 600;
	grid-area: sheet19OutgoingYear;
	margin-left: 6%;		
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}



.sheet19-name-input, .sheet19-mother-name-input, .sheet19-father-name-input, .sheet19-phone-number-input, .sheet19-outgoing-year-input, .sheet19-entry-year-input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 55vw;
  font-size: 14px;
}


.sheet19-name-input {
	grid-area: sheet19Select;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.sheet19-mother-name-input {
	grid-area: sheet19MotherNameInput;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.sheet19-father-name-input {
	grid-area: sheet19FatherNameInput;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}

.sheet19-phone-number-input {
	grid-area: sheet19PhoneNumberInput;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
}


.sheet19-entry-year-input {
	grid-area: sheet19EntryYearInput;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;	
}

.sheet19-outgoing-year-input {
	grid-area: sheet19OutgoingYearInput;
	display: block;
	width: 46vw;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;	
}

.documents-button {
	border: none;
	outline: none;
	display: none;
	width: 67vw;
	height: 5vh;
	margin: 29px auto 20px auto;
	background-color: #048F36;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius: 4px;		
}