:root {
	--selects-width: 240px;
	--selcts-text-align: center;
	--selects-font-size: 16px;
	--selects-border: 1px solid #171717;
	--selects-outline: none;
	--selects-background-color: transparent;
	--selects-height: 30px;
	--selcts-border-radius: 10px;

	--inputs-width: 100%;
	--inputs-height: 50px;
	--inputs-border-radius: 10px;
	--inputs-background-color: transparent;
	--inputs-border: 1px solid #171717;
	--inputs-padding: 0 0 0 2%;
	--inputs-outline: none;
	--inputs-font-size: 16px;
	--inputs-margin-top: 10px;

	--labels-display: inline;
	--labels-font-weight: 600;
	--labels-font-size: 16px;
	--labels-position: absolute;
	--labels-top: 26px;
	--labels-left: 2%;
	--labels-backgroundColor: #fff;
	--labels-transition: all 0.2s ease-out;

}

.container-title {
  margin: 3% 0% 3% 3%;
  text-decoration: underline;
  font-size: var(--h1-font-size);
}

.documentsRequest-container {
  width: 100%;
}

.documents-h1 {
	margin: 3% 0% 3% 3%;
  font-size: var(--h1-font-size);
  text-decoration: underline;
}

.documents-h2 {
	font-weight: 600;
	margin: 3% 0% 9% 3%;
	font-size: var(--h2-font-size);
}


.documents-container {
	display: flex;
	margin: 3% auto;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	max-width: 500px;
	padding: 2%;
}

.document-type {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 100%;
}

.documents-p {
	display: inline;
	font-weight: 600;
	font-size: var(--p-font-size);
	width: 35%;
}

.documents-documentSelect {
	display: block;
	width: var(--selects-width);
	text-align: center;
	font-size: var(--p-font-size);
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}

.enrollmentStatement {
  display: none;
  justify-content: space-between;
  align-items: center;  
  width: 100%;
}

.enrollmentStatement-group {
	display: inline;
	font-weight: 600;
	font-size: var(--p-font-size);
	width: 35%;
}

.enrollmentStatement-select {
	display: block;
	width: var(--selects-width);
	text-align: center;
	font-size: var(--p-font-size);
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}



.enrollmentStatement-document-name {
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.enrollmentStatement-name-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.enrollmentStatement-name-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.enrollmentStatement-name-input:focus ~ .enrollmentStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.enrollmentStatement-name-input:valid ~ .enrollmentStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.frequencyStatement {
 	display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.frequencyStatement-group {
	display: inline;
	font-weight: 600;
	font-size: var(--p-font-size);
	width: 35%;
}

.frequencyStatement-select {
	display: block;
	width: var(--selects-width);
	text-align: var(--selcts-text-align);
	font-size: var(--selects-font-size);
	height: var(--selects-heighte);
	background-color: var(--selects-background-color);
	border-radius: var(--selcts-border-radius);
	outline: var(--selects-outline);
	border:	var(--selects-border);
}



.frequencyStatement-document-name {
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.frequencyStatement-name-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.frequencyStatement-name-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.frequencyStatement-name-input:focus ~ .frequencyStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.frequencyStatement-name-input:valid ~ .frequencyStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.enrollment-select {
	display: block;
	width: var(--selects-width);
	text-align: var(--selcts-text-align);
	font-size: var(--selects-font-size);
	height: var(--selects-heighte);
	background-color: var(--selects-background-color);
	border-radius: var(--selcts-border-radius);
	outline: var(--selects-outline);
	border:	var(--selects-border);
}

.sheet19 {
	display: none;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
}

.sheet19-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.sheet19-group-p {
	display: inline;
	font-weight: 600;
	font-size: var(--p-font-size);
	width: 35%;
}

.sheet19-select {
	display: block;
	width: var(--selects-width);
	text-align: var(--selcts-text-align);
	font-size: var(--selects-font-size);
	height: var(--selects-heighte);
	background-color: var(--selects-background-color);
	border-radius: var(--selcts-border-radius);
	outline: var(--selects-outline);
	border:	var(--selects-border);
}


.sheet19-student-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-student-name-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.sheet19-student-name-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.sheet19-student-name-input:focus ~ .sheet19-student-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-student-name-input:valid ~ .sheet19-student-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-mother-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-mother-name-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.sheet19-mother-name-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.sheet19-mother-name-input:focus ~ .sheet19-mother-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-mother-name-input:valid ~ .sheet19-mother-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-father-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-father-name-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.sheet19-father-name-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.sheet19-father-name-input:focus ~ .sheet19-father-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-father-name-input:valid ~ .sheet19-father-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-phone-number {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-phone-number-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.sheet19-phone-number-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.sheet19-phone-number-input:focus ~ .sheet19-phone-number-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-phone-number-input:valid ~ .sheet19-phone-number-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-father-name-input:valid ~ .sheet19-father-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-entry-year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-entry-year-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.sheet19-entry-year-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.sheet19-entry-year-input:focus ~ .sheet19-entry-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-entry-year-input:valid ~ .sheet19-entry-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-outgoing-year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-outgoing-year-input {
  height: var(--inputs-height);
  width: var(--inputs-width);
  border-radius: var(--inputs-border-radius);
  background-color: var(--inputs-background-color);
  outline: var(--inputs-padding);
  font-size: var(--inputs-font-size);
  padding: var(--inputs-padding);
  border: var(--inputs-border);
  margin-top: var(--inputs-margin-top);
}

.sheet19-outgoing-year-label {
	display: var(--labels-display);
  font-weight: var(--labels-font-weight);
  font-size: var(--labels-font-size);
  position: var(--labels-position);
  top: var(--labels-top);
  left: var(--labels-left);
  background-color: var(--labels-backgroundColor);
  transition: var(--labels-transition);
}

.sheet19-outgoing-year-input:focus ~ .sheet19-outgoing-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-outgoing-year-input:valid ~ .sheet19-outgoing-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.documents-button {
	color: var(--buttons-text-color);
	border: var(--buttons-border);
	outline: var(--buttons-outline);
	display: none;
	width: 96%;
	height: var(--buttons-height);
	margin: var(--buttons-margin);
	background-color: var(--green-buttons-backgroundcolor);
	font-size: var(--buttons-font-size);
	font-weight: var(--buttons-font-weight);
	border-radius: var(--buttons-border-radius);
	cursor: var(--buttons-cursor);
	max-width: 470px;
}

.solicitations {
  margin: 20px 3%;
}

.solicitations-list {
	margin-top: 10px;
}

@media screen and (min-width: 800px) and (min-height: 497px){ 
    .container {
       display: flex;
      justify-content: space-between;
    }

    .documentsRequest-container {
        width: 76%;
        margin-top: 10vh;
    }

	 .documents-container {
		  display: flex;
		  margin: 3% auto;
		  justify-content: space-between;
		  align-items: center;
		  flex-direction: column;
		  gap: 15px;
		  box-shadow: 1px 1px 4px #cacaca;
		  border-radius: 10px;
		  width: 470px;
		  padding: 20px;
		}

	.enrollmentStatement {
	  display: none;
	  justify-content: space-between;
	  align-items: center;
	  width: 100%;


	}

	.frequencyStatement {
	  display: none;
	  justify-content: space-between;
	  align-items: center;
	  width: 100%;
	}

	.solicitations-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
