.documentsRequest-container {
  width: 100%;
}


.documents-h1 {
	margin: 3% 0% 3% 3%;
  font-size: 32px;
  text-decoration: underline;
}

.documents-h2 {
	font-weight: 600;
	margin: 3% 0% 9% 3%;
}


.documents-container {
	display: flex;
	margin: 3% auto;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	max-width: 500px;
	padding: 2%;
}

.document-type {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 100%;
}

.documents-p {
	display: inline;
	font-weight: 600;
	font-size: 16px;
	width: 35%;
}

.documents-documentSelect {
	display: block;
	width: 240px;
	text-align: center;
	font-size: 16px;
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}

.enrollmentStatement {
  display: none;
  justify-content: space-between;
  align-items: center;  
  width: 100%;
}

.enrollmentStatement-group {
	display: inline;
	font-weight: 600;
	font-size: 16px;
	width: 35%;
}

.enrollmentStatement-select {
	display: block;
	width: 240px;
	text-align: center;
	font-size: 16px;
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}



.enrollmentStatement-document-name {
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.enrollmentStatement-name-input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.enrollmentStatement-name-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.enrollmentStatement-name-input:focus ~ .enrollmentStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.enrollmentStatement-name-input:valid ~ .enrollmentStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

/**/

.frequencyStatement {
 	display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.frequencyStatement-group {
	display: inline;
	font-weight: 600;
	font-size: 16px;
	width: 35%;
}

.frequencyStatement-select {
	display: block;
	width: 240px;
	text-align: center;
	font-size: 16px;
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}



.frequencyStatement-document-name {
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.frequencyStatement-name-input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.frequencyStatement-name-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.frequencyStatement-name-input:focus ~ .frequencyStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.frequencyStatement-name-input:valid ~ .frequencyStatement-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.enrollment-select {
	display: block;
	width: 240px;
	text-align: center;
	font-size: 16px;
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}

.sheet19 {
	display: none;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
}

.sheet19-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.sheet19-group-p {
	display: inline;
	font-weight: 600;
	font-size: 16px;
	width: 35%;
}

.sheet19-select {
	display: block;
	width: 240px;
	text-align: center;
	font-size: 16px;
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
}


.sheet19-student-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-student-name-input {
	height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.sheet19-student-name-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.sheet19-student-name-input:focus ~ .sheet19-student-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-student-name-input:valid ~ .sheet19-student-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-mother-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-mother-name-input {
	height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.sheet19-mother-name-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.sheet19-mother-name-input:focus ~ .sheet19-mother-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-mother-name-input:valid ~ .sheet19-mother-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-father-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-father-name-input {
	height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.sheet19-father-name-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.sheet19-father-name-input:focus ~ .sheet19-father-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-father-name-input:valid ~ .sheet19-father-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-phone-number {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-phone-number-input {
	height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.sheet19-phone-number-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.sheet19-phone-number-input:focus ~ .sheet19-phone-number-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-phone-number-input:valid ~ .sheet19-phone-number-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-father-name-input:valid ~ .sheet19-father-name-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-entry-year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-entry-year-input {
	height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.sheet19-entry-year-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.sheet19-entry-year-input:focus ~ .sheet19-entry-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-entry-year-input:valid ~ .sheet19-entry-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-outgoing-year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.sheet19-outgoing-year-input {
	height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 2%;
  border: 1px solid black;
  margin-top: 10px;
}

.sheet19-outgoing-year-label {
	display: inline;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 26px;
  left: 2%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.sheet19-outgoing-year-input:focus ~ .sheet19-outgoing-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

.sheet19-outgoing-year-input:valid ~ .sheet19-outgoing-year-label {
	transform: translateY(-160%);
	transition: all 0.2s ease-out;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.documents-button {
	color: #fff;
	border: none;
	outline: none;
	display: none;
	width: 96%;
	height: 50px;
	margin: 0 auto 20px auto;
	background-color: #048F36;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	max-width: 470px;
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

    .container {
       display: flex;
      justify-content: space-between;
    }

    .documentsRequest-container {
        width: 76%;
        margin-top: 10vh;
        height: 100vh;  
    }

	 .documents-container {
		  display: flex;
		  margin: 3% auto;
		  justify-content: space-between;
		  align-items: center;
		  flex-direction: column;
		  gap: 15px;
		  box-shadow: 1px 1px 4px #cacaca;
		  border-radius: 10px;
		  width: 470px;
		  padding: 20px;
		}

	.enrollmentStatement {
	  display: none;
	  justify-content: space-between;
	  align-items: center;
	  width: 100%;


	}

	.frequencyStatement {
	  display: none;
	  justify-content: space-between;
	  align-items: center;
	  width: 100%;
	}

}