.faq-container {}

.faq-container h2 {
  margin-bottom: 10px;
  margin-left: 10px;
}

.faq-container .faq-description {
  padding: 10px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 10px;
  padding: 10px 5px;
}

details p {
  margin-top: 10px;
}

@media screen and (min-width: 800px) and (min-height: 497px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .faq-container {
    width: 76%;
    margin-top: 10vh;
}
}