.faq-container {}

.faq-container h1 {
  margin: 3% 0 3% 3%;
  text-decoration: underline;
  font-size: var(--h1-font-size);
}

.faq-container .faq-description {
  padding: 10px;
}

.list-of-details {
  margin: 0 3%;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 10px;
  padding: 10px 5px;
}

details p {
  margin-top: 10px;
}

.continue-to-chat-button {
  display: flex;
  background-color: #17A1FA;
  color: #FFF;
  text-decoration-line: none;
  height: 50px;
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px 10px;
  transition: .2s;
	font-size: var(--buttons-font-size);
	font-weight: var(--buttons-font-weight);
}

.continue-to-chat-button:hover {
  background-color: #fff;
  color: #17A1FA;
  border: 1px solid #17A1FA;
}

@media screen and (min-width: 800px) and (min-height: 497px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .faq-container {
    width: 63vw;
    margin-top: 60px;        }
}
