:root {
	--components-links-width: 18vw;
	--img-links-width: 9vw;
	--a-links-color: #048F36;
	--a-links-font-size: 3.5vw;
	--img-contact-width: 9vw;
	--a-contact-font-size: 3.5vw;
}

.homepage-title {
  margin: 3% 0% 3% 3%;
  font-size: var(--h1-font-size);
  text-decoration: underline;
}

.carousel-content {
	display: grid;
	background-image: url(http://localhost:3000/static/media/imageExample.d4d901719c0f147d994a.png);
	width: 90vw;
	background-size: 100%;
	height: 59vw;
	background-repeat: no-repeat;
	margin: 0 auto;
	grid-template-rows: 4fr 1fr;		
}

.carousel-title {
	margin: 3%;
	color: white;
}

.carousel-image {
	width: 93vw;
	display: inline;
	align-self: center;
}

.links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
}

.links-component1, .links-component2, .links-component3 {
  width: var(--components-links-width);
  box-shadow: 2px 2px 8px #cacaca;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-component1:hover, .links-component2:hover, .links-component3:hover{
	transform: translateY(-2px) translateX(4px);
}

.links-component1 a, .links-component2 a, .links-component3 a {
	color: var(--a-links-color);
	font-weight: 700;
	text-decoration: none;
	font-size: var(--a-links-font-size);
	text-align: center;
	display: block;
	margin: 6px 0;
}

.components-icon {
  width: 10vw;
  margin: 4% auto;
  display: block;
  height: 10vw;
  color: #0076e2;
  max-width: 40px;
  max-height: 40px;
}

.main-content {
  margin: 3% 3%;
  display: flex;
  flex-direction: column;
}

.about-gp {
	font-size: var(--h2-font-size);
	margin-bottom: 2%;
}

.about-gp-content {
  font-size: var(--p-font-size);
  margin: 10px 0;
}

.span-contact-forms {
  font-weight: 600;
}

.contact-forms-title {
	font-size: var(--h2-font-size);
}

.about-contact-forms {
	font-size: var(--p-font-size);
  margin: 10px 0;
}

.contact-forms {
	display: flex;
	justify-content: space-evenly;
	height: 15vh;
	align-items: center;
	flex-wrap: wrap;
}

.homepage-icons {
  color: #048f36;
  width: 30px;
  height: 30px;
}

.contact-component1, .contact-component2, .contact-component3 {
	width: 18vw;
	cursor: pointer;
	transition: 0.2s;
}

.contact-component1:hover, .contact-component2:hover, .contact-component3:hover{
	transform: translateY(-2px) translateX(4px);	
}

.contact-component1 img, .contact-component2 img, .contact-component3 img {
	width: var(--img-contact-width);
	margin: 4% auto;
	display: block;
	max-width: 50px;
}

.contact-component1 a, .contact-component2 a, .contact-component3 a {
	text-decoration: none;
	font-size: var(--a-contact-font-size);
	text-align: center;
	display: block;
	margin: 6px 0;
	color: black;
}

.button-chat {
	background-color: white;
	border: none;
	outline: none;
	box-shadow: 2px 2px 8px #cacaca;
	border-radius: 100%;
	width: 16vw;
	height: 16vw;
	align-self: end;
	position: absolute;
	bottom: 7px;
  cursor: pointer;
}

.button-chat-img {
  width: 40px;
  margin: auto;
  color: #0076e2;
  height: 40px;
}

.about {
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.about-card {
	background-color: #FFF;
	box-shadow: 2px 2px 8px #cacaca;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 400px;
	border-radius: 5px;
	padding: 0px 20px;
	align-items: center;
	gap: 10px;
	padding-top: 10px;	
}

.about-text {
	text-align: center;
}

.values {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.values li {
	list-style: decimal;
}

.about-courses-title {
	font-size: var(--h2-font-size);
	margin: 2% 0;
}

.about-couses {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.courses {
	background-color: #FFF;
	box-shadow: 2px 2px 8px #cacaca;
	width: 97%;
	height: 500px;	
	border-radius: 5px;
	padding: 0px 20px;
	align-items: center;
	padding-top: 10px;
	margin: 3% 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.courses img {
  display: inline;
  width: 40px;
  height: 30px;
}

.courses header {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
}

.moreInformationsParagraph {
  flex-basis: 100%;
  margin: 3%;
  text-align: center;
}

@media screen and (min-width: 800px) and (min-height: 497px){

	:root {
		--components-links-width: 270px;
		--components-links-height: 70px;
		--img-links-width: 30px;
		--a-links-color: #048F36;
		--a-links-font-size: 22px;
		--img-contact-width: 35px;
		--a-contact-font-size: 19px;
	}

	.container {
	  display: flex;
	  justify-content: space-between;
	}

	.homePage-container {
    width: 76%;
    margin-top: 10vh;
	}

	.carousel-content {
    display: grid;
    background-image: url(http://localhost:3000/static/media/imageExample.d4d9017….png);
    max-width: 38vw;
    background-size: 100%;
    height: 25vw;
    background-repeat: no-repeat;
    margin: 0 auto;
    grid-template-rows: 4fr 1fr;
	}

	.carousel-title {
		margin: 3%;
	  color: white;
	  font-size: 1.5vw;
	}

	.links-component1, .links-component2, .links-component3 {
		width: var(--components-links-width);
    box-shadow: 2px 2px 8px #cacaca;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: var(--components-links-height);
    justify-content: space-evenly;
    cursor: pointer;
    margin-bottom: 30px;
	}

	.components-icon {
	  width: var(--img-links-width);	    
	  margin: 0 auto;
	}

	.links-component1 a, .links-component2 a, .links-component3 a {
    color: var(--a-links-color);
    font-weight: 700;
    text-decoration: none;
    font-size: var(--a-links-font-size);	    
	}

	.about-gp {
	  font-size: var(--h2-font-size);
	}

	.about-gp-content {
  	font-size: var(--p-font-size);
  	margin: 10px 0;
	}

	.contact-forms-title {
	  font-size: var(--h2-font-size);
	  margin-top: 2%;
	}

	.about-contact-forms {
	  font-size: var(--p-font-size);
	  margin: 10px 0;
	}

	.contact-forms {
	  display: flex;
	  justify-content: space-evenly;
	  align-items: center;
	  flex-wrap: wrap;
	  margin-top: 30px;
	}

	.contact-component1 img, .contact-component2 img, .contact-component3 img {
	  width: var(--img-contact-width);
	  margin: 4% auto;
	  display: block;
	}

	.contact-component1 a, .contact-component2 a, .contact-component3 a {
	  text-decoration: none;
	  font-size: var(--a-contact-font-size);
	  text-align: center;
	  display: block;
	  margin: 6px 0;
	  color: black;
	}

	.button-chat {
		background-color: white;
		border: none;
		outline: none;
		box-shadow: 2px 2px 8px #cacaca;
		border-radius: 100%;
		width: 80px;
		height: 80px;
		align-self: end;
		position: absolute;
		bottom: 3%;
    cursor: pointer;
	}	

	.button-chat-img {
    width: 40px;
    margin: auto;
    color: #0076e2;
    height: 40px;
  }
	.courses {
		background-color: #FFF;
		box-shadow: 2px 2px 8px #cacaca;
		width: 380px;
		height: 55vh;
		max-height: 400px;
		border-radius: 5px;
		padding: 0px 20px;
		align-items: center;
		padding-top: 10px;
		margin: 3% 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

}

@media (min-width: 1200px) {
	.about {
		flex-direction: row;
	}
}
