* {
    font-family: 'Raleway', sans-serif;
}

.openNew {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: 0.4s;
}

.openNew-content {
    z-index: 1;
    width: 95vw;
    margin: 0 auto;
}

.openNew-content-h1 {
    margin: 3% 0% 3% 3%;
}

.openNew-content-img {
    max-width: 90vw;
    display: block;
    margin: 10px auto;   
}

.openNew-content-p {
    margin: 3% 3% 3% 3%;    
}

.latestNews-container {
    
}

.latestNews-h1 {
    margin: 3% 0% 3% 3%;
    font-size: 32px;    
}


.latestNews-div {    
    display: flex;
    flex-direction: column;    
}

.latestNews-subdiv {
    background-color: rgba(217, 217, 217, 0.5);
    max-width: 95vw;
    align-self: center;
    border-radius: 4px;    
}

.latestNews-img {
    max-width: 90vw;
    display: block;
    margin: 10px auto;    
}

.latestNews-h2 {
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;   
}

.latestNews-p {
    display: inline;
    font-size: 18px;
    font-weight: 600;    
    color: #020063;
    cursor: pointer;
    text-decoration: underline;
}

.latestNews-hr {
    margin: 20px auto;
    outline: none;
    border: 1px solid gray;
    width: 95vw;
    border-radius: 4px;
}