* {
    font-family: 'Raleway', sans-serif;
}

.latestNews-h1 {
    margin: 3% 0% 3% 3%;
    font-size: 32px;    
    text-decoration: underline;    
}


.latestNews-news {    
    display: flex;
    flex-direction: column;    
    padding: 1%;
    gap: 10px;
}

.latestNews-content {
  width: 90%;
  max-width: 500px;
  align-self: center;
  border-radius: 7px;
  box-shadow: 2px 2px 8px #cacaca;

}

.content-img {
  max-width: 90%;
  display: block;
  margin: 10px auto;
}

.content-h2 {
  font-size: 20px;
  display: inline-block;
  margin: 0 5%;
}

.latestNews-p {
    display: inline;
    font-size: 18px;
    font-weight: 600;    
    color: #020063;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

    .container {
       display: flex;
      justify-content: space-between;
    }

    .latestNews-news {
        display: flex;
        flex-direction: row;
        margin: 0 0 0 2%;
        padding: 1%;
        gap: 10px;
        flex-wrap: wrap;
    }

    .latestNews-container {
        width: 76%;
        margin-top: 10vh;
    }

    .latestNews-content {
      width: 32%;
      align-self: center;
      border-radius: 7px;
      box-shadow: 2px 2px 8px #cacaca;
    }

    .content-img {
      max-width: 90%;
      display: block;
      margin: 10px auto;
    }

    .content-h2 {
      font-size: 20px;
      display: inline-block;
      margin: 0 5%;
    }

}