:root {
	--login-screen-background-color: #020063;	
	--login-screen-left-div-background-color: #fff;
	--login-screen-right-div-background-color: #020063;
	--login-screen-h3-color: #303030;
}

.login-form {
	padding: 10px;
}

.login-form header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.IoArrowBack {
    overflow: hidden;
}

.form-h1 {
  margin: 0 auto;
}

.container-title {
  margin: 3% 0% 3% 3%;
  text-decoration: underline;
  font-size: var(--h1-font-size);
}


.loginScreen-container {
	background-color: var(--login-screen-background-color);
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.welcome-screen {
	display: none;	
}

.IoArrowBack {
}

.form-h1 {
	color: white;
	font-size: var(--h1-font-size);	
	text-align: center;
}

.eteLogo {
  width: 70%;
  margin: 14% auto 6% auto;
  display: block;
}

.form-email {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative	;
  height: 80px;
}

.form-password {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative	;
  height: 80px;
}

.form-datas {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	width: 100%;
	height: 190px;
	flex-direction: column;
	max-width: 330px;
}

.email-label, .password-label {
  position: absolute;
  top: auto;
  left: 15%;
  color: white;
  background-color: #020063;  
}

.email-input, .password-input {
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 0 0 0 6px;
  border: 1px solid #fff;
}


.email-input:focus ~ .email-label {
	transform: translateY(-25px);
	transition: all 0.2s ease-out;
}

.email-input:valid ~ .email-label {
	transform: translateY(-25px);
	transition: all 0.2s ease-out;
}

.password-input:focus ~ .password-label {
	transform: translateY(-25px);
	transition: all 0.2s ease-out;
}

.password-input:valid ~ .password-label {
	transform: translateY(-25px);
	transition: all 0.2s ease-out;
}

.email-input, .password-input {
	padding: 0 0 0 6px;
}

.email-label, .password-label {
  transition: all 0.2s ease-out;
}

.createAccount-redirect-p {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	width: 250px;
}

.createAccount-redirect-link {
	color: #fff;
  transition: .2s;
}

.createAccount-redirect-link:hover {
  color: rgb(23, 161, 250);
}

.forgot-pass {
  text-decoration-line: underline;
  margin: 20px auto;
  transition: .2s;
}

.forgot-pass:hover {
	cursor: pointer;
  color: rgb(23, 161, 250);
}

.form-button {
  color: var(--buttons-text-color);
  border: var(--buttons-border);
  outline: var(--buttons-outline);
  display: block;
  width: 250px;
  height: var(--buttons-height);
  margin: var(--buttons-margin);
  background-color: var(--green-buttons-backgroundcolor);
  color: white;
  font-size: var(--buttons-font-size);
  font-weight: var(--buttons-font-weight);
  border-radius: var(--buttons-border-radius);
  cursor: var(--buttons-cursor);
  transition: .2s;
  
}

.form-button:hover {
  transition: .2s;
  color: var(--green-buttons-backgroundcolor);
  background-color: var(--buttons-text-color);
}

.form-link {
	display: block;
	text-align: center;
	margin: 0% 0 1% 0;
	color: #DBDBDB;
	cursor: pointer;
}

@media screen and (min-width: 800px) and (min-height: 497px){

	:root {
		--login-screen-background-color: #010030;	
		--login-screen-left-div-background-color: #fff;
		--login-screen-right-div-background-color: #020063;
		--login-screen-h3-color: #303030;
	}

	.loginScreen-container {
	  background-color: var(--login-screen-background-color);
	  height: 100%;
	  font-family: 'Raleway', sans-serif;
	  display: flex;
	  justify-content: center;
	  align-content: center;
	  padding: 20px;
	}

	.welcome-screen {
	  width: 50%;
	  background-color: var(--login-screen-left-div-background-color);
	  height: 100%;
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 4px;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  gap: 30%;
	  align-items: center;
	}

	.welcome-screen h3 {
	  color: var(--login-screen-h3-color);
	  padding: 0 2% 0 2%;
	  text-align: center;
	  font-size: var(--h3-font-size);
	}

  .form-h1 {
    color: white;
    font-size: var(--h1-font-size);
    text-align: center;
    margin: 0 auto;
  }

	.login-form {
	  width: 50%;
	  height: 100%;
	  background-color: var(--login-screen-right-div-background-color);
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	}

	.eteLogo {
		width: 40%;
		margin: 3% auto 3% auto;
		display: block;
	}

	.form-datas {
		display: flex;
		margin: auto;
		align-items: center;
		flex-direction: column;
		border-radius: 10px;
		width: 500px;
		padding: 20px;
		height: 200px;
	}

	.email-label, .password-label {
	  position: absolute;
	  top: auto;
	  left: 7%;
	  color: white;
	  background-color: #020063;
	}

	.form-button {
	  color: var(--buttons-text-color);
	  border: var(--buttons-border);
	  outline: var(--buttons-outline);
	  display: block;
	  width: 250px;
	  height: var(--buttons-height);
	  margin: var(--buttons-margin);
  	background-color: var(--green-buttons-backgroundcolor);
	  background-color: var();
	  font-size: var(--buttons-font-size);
	  font-weight: var(--buttons-font-weight);
	  border-radius: var(--buttons-border-radius);
	  cursor: var(--buttons-cursor);
	}

}






