.myProfile-container {


}

.myProfile-h1 {
	margin: 3% 0% 3% 3%;
	font-size: 32px;
	text-decoration: underline;
}


.myProfile-subcontainer {
	display: flex;	
}

.myProfile-subcontainer-pic {
	width: 50vw;
	margin: 0 auto;
	display: block;	
}

.myProfile-subcontainer-button {
	position: absolute;
	align-self: end;
	margin: 0 0 0 26%;
	border: none;
	border-radius: 100%;
	background-color: #048F36;	
	width: 10vw;
}

.myProfile-subcontainer-button-img {
  width: 9vw;
  padding: 2px;
}

.myProfile-container-h2 {
	font-size: 20px;
	text-align: center;
	margin: 15px 0 0 0;
}

.myProfile-container-p {
	text-align: center;
	color: #616161;
	font-size: 16px;	
}

.profile-pic {
	background-color: white;
	border-radius: 10px 10px 0 0;
	border: none;
	height: 20vh;
	position: fixed;
	width: 100%;
	left: 0;
	transition: 0.2s;
	bottom: 0;
	transform: translatey(100%);
}

.profile-pic-header {
	display: flex;
	margin:0 0 0 3%;
}

.profile-pic-arrow-img {

}

.profile-pic-h3 {
	align-self: center;
	margin: 0 0 0 2%;	
}

.profile-pic-section {
	display: flex;
	justify-content: space-around;
}

.trash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.change {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.profile-pic-button1 {
  background-color: #DF000C;
  border: none;
  outline: none;
  border-radius: 100%;
  padding: 3px;
  width: 50px;
  height: 50px;
}

.profile-pic-button1 {

	
}

.profile-pic-button1-img {
	width: 35px;	
	height: 35px;
}

.profile-pic-p1 {
	margin-top: 5%;	
}

.profile-pic-button2 {
  background-color: #020063;
  border: none;
  outline: none;
  border-radius: 100%;
  padding: 3px;
  width: 50px;
  height: 50px;
	
}

.profile-pic-button2-img {
	width: 25px;
	height: 25px;
	padding: 1px;	
}


.profile-pic-p2 {
	margin-top: 5%;	
}

.myProfile-container-button {
	border: none;
	outline: none;
	display: block;
	width: 67vw;
	height: 5vh;
	margin: 29px auto 20px auto;
	background-color: #DF000C;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius: 4px;		
}

