.container-title {
  margin: 3% 0% 3% 3%;
  text-decoration: underline;
  font-size: var(--h1-font-size);
}

.my-datas {
	background-color: #fff;
	box-shadow: 1px 1px 4px #cacaca;
	border-radius: 10px;
	max-width: 500px;
	height: 22vh;
	margin: 3% auto;
	padding: 20px;
	max-height: 190px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.container-h2 {
	font-size: 20px;
	text-align: center;
}


.container-p {
	text-align: center;
	color: #616161;
	font-size: 16px;	
}

.container-button {
	border: var(--buttons-border);
	outline: var(--buttons-outline);
	display: block;
	width: 80%;
	height: var(--buttons-height);
	margin: var(--buttons-margin);
	background-color: var(--red-buttons-backgroundColor);
	color: var(--buttons-text-color);
	font-size: var(--buttons-font-size);
	font-weight: var(--buttons-font-weight);
	border-radius: var(--buttons-border-radius);
	max-width: 500px;	
  transition: .2s;
  cursor: pointer;
}

.container-button:hover {
  color: var(--red-buttons-backgroundColor);
  background-color: #fff;
  border: 1px solid var(--red-buttons-backgroundColor);
}

.continer-link {
	text-align: center;
	display: block;
}


@media screen and (min-width: 800px) and (min-height: 497px){ 

    .container {
       display: flex;
      justify-content: space-between;
    }

    .myProfile-container {
		width: 63vw;
        margin-top: 60px;           
    }

	.container-h2 {
	  font-size: 20px;
	  text-align: center;
	  margin: 120px 0 0 0;
	}

	.my-datas {
	  background-color: #fff;
	  box-shadow: 1px 1px 4px #cacaca;
	  border-radius: 10px;
	  width: 400px;
	  height: 180px;
	  margin: 3% auto;
	}

	.container-h2 {
	  font-size: 20px;
	  text-align: center;
	  margin: 3% 0 0 0;
	}

	.container-button {
	  border: var(--buttons-border);
	  outline: var(--buttons-outline);
	  display: block;
	  width: 400px;
	  height: var(--buttons-height);
	  margin: var(--buttons-margin);
	  background-color: var(--red-buttons-backgroundColor);
	  color: var(--buttons-text-color);
	  font-size: var(--buttons-font-size);
	  font-weight: var(--buttons-font-weight);
	  border-radius: var(--buttons-border-radius);
    cursor: pointer;
    transition: .2s;
	}

  .container-button:hover {
    color: var(--red-buttons-backgroundColor);
    background-color: #fff;
    border: 1px solid var(--red-buttons-backgroundColor);
  }

}
