* {
    font-family: 'Raleway', sans-serif;
}

.newsOpen-container {


}

.newsOpen-h1 {
    margin: 3% 0% 3% 3%;
}

.newsOpen-img {
    max-width: 90vw;
    display: block;
    margin: 10px auto; 
}


.newsOpen-p {
    margin: 3% 3% 3% 3%;    
}