.timeSheet-content {
  background-color: #fff;
  box-shadow: 2px 2px 4px #cacaca;
  margin: 3% auto;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  max-width: 500px;
}

.container-title {
  margin: 3% 0% 3% 3%;
  text-decoration: underline;
  font-size: var(--h1-font-size);
}

.timeSheet-content h4 {
  margin: 3%;
  font-size: var(--h4-font-size);
}

.timeSheet-content p {
	margin: 0% 0% 3% 3%;
	text-decoration: underline;
	cursor: pointer;
	cursor: #010030;
  font-size: var(--p-font-size);
}

@media screen and (min-width: 800px) and (min-height: 497px){ 

  .container {
     display: flex;
    justify-content: space-between;
  }

	.timeSheet-content {
	  background-color: #fff;
	  box-shadow: 2px 2px 4px #cacaca;
	  margin: 3% auto;
	  border-radius: 10px;
	  padding: 5px;
	  width: 50%;
	  height: auto;
	}

  .timeSheet-container {
    width: 63vw;
    margin-top: 60px;        
  }

}